.btnPrimary {
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 12px;
  height: 2.4rem;
  border: none;
  color: #ffffff;
  background-color: #ff971d;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 0.5em;
}

.btnPrimary:hover {
  background-color: #e9830e;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.btnLogin {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 4em;
}

.formInput {
  border-color: #ff971d;
  border-radius: 7px;
  height: 35px;
  width: 300px;
}

.link {
  text-decoration: none;
  color: rgb(0, 96, 141);
  display: inline-block;
  padding: 0.5em;
  font-size: 1em;
}

.formInfos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.loginScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.screenSty {
  background-color: #ff971d;
  width: 50%;
  height: 100vh;
}
