.listContainer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.container strong { 
  font-size: 1.7em;
  font-weight: 700;
}

.link {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0.5em;
  color: #ff971d;
  text-decoration: none;
}

.btnPrimary {
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 12px;
  padding: 0.5em 1em;
  border: none;
  color: #ffffff;
  background-color: #ff971d;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btnPrimary:hover {
  background-color: #e9830e;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
