.welcomeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100vh;
}

.welcomeLogo {
  height: 2.4rem;
  width: auto;
}

.h1 {
  font-size: 1.7em;
  font-weight: 700;
}

.h2 {
  font-size: 1.2em;
  font-weight: 500;
}

.btnPrimary {
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 12px;
  height: 2.4rem;
  border: none;
  color: #ffffff;
  background-color: #ff971d;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 0.5em;
}
.btnPrimary:hover {
  background-color: #e9830e;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.btnContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.loginScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.screenSty {
  background-color: #ff971d;
  width: 50%;
  height: 100vh;
}

.personalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formGrup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formInfos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
}

.formLabel {
}

.formInput {
  border-color: #ff971d;
  border-radius: 7px;
  height: 35px;
  width: 300px;
}

.formAuth {
  padding: 10px;
}

.h3 {
  text-align: center;
}

.h4 {
  text-align: center;
  color: black;
}

.btnLogin {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 4em;
}

.align {
  display: flex;
  flex-direction: row;
}

.btnReg {
  margin-top: 3em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  width: 23%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  list-style-type: none;
  justify-content: space-between;
  font-size: 13px;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid var(--Stroke, #d9d9d9);
  cursor: pointer;
  background-color: #ffff;
  margin: 10px;
}

.cardImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInfos {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardImg img {
  width: 10vw;
  padding: 10px;
}

.cardName {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}

.cardValue {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cardContainer:hover {
  background-color: #f3f3f3;
  transition: 100ms ease-in-out;
}

.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 12px;
  row-gap: 8px;
  justify-content: center;
}

.cardContainer:focus {
  background-color: #ffae51;
  color: aliceblue;
}


