.personalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: .8em;
  row-gap: .5em;
  justify-content: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}