/* Estilo para o fundo escuro translúcido */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Cor escura com transparência */
  z-index: 1000; /* Garante que o modal esteja sobre todo o conteúdo */
}

/* Estilo para o contêiner do modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Cor de fundo do modal */
  border: 1px solid #ccc; /* Borda cinza */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra leve */
  padding: 1.25rem;
  z-index: 1001; /* Garante que o modal esteja sobre o fundo escuro */
  max-width: 80%; /* Largura máxima do modal */
  max-height: 80%; /* Altura máxima do modal */
  overflow-y: auto; /* Adiciona scroll caso o conteúdo seja maior que a altura máxima */
}

/* Estilo para o botão de fechar do modal */
.modalClose {
  position: absolute;
  top: .625rem;
  right: .625rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #666;
}
.modalContainer{
  width: 50rem;
  display: flex;
  flex-direction: row;
}

.modalImage{
  width: 25.4375rem;
  height: 26.25rem;
  margin-left: -3.75rem;
  object-fit: scale-down;
}
.title{
  font: italic 1.2rem "Fira Sans", serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subTitle{
  font-size: 1.5rem;
  font-weight: medium;
  margin-bottom: .625rem;
}

.btnReg {
  margin-top: 3em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  width: 23%;
}

.btnPrimary {
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 12px;
  height: 4.4rem;
  border: none;
  color: #ffffff;
  background-color: #ff971d;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 0.5em;
}

.btnPrimary:hover {
  background-color: #e9830e;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
