.mainButton {
  border-radius: 10px;
  border: 1px solid #ff971d;
  background: rgba(255, 151, 29, 0.1);
  color: #ff971d;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
